{% extends "Project Manager/pmindex.html" %}
{% block body %}
<div class="card"><div class="card-body"><h5 class="card-title">Add Dates to Scope of Work</h5>
<form method="post" action="{% url 'Add_work_schedule_post' %}" class="row g-3">{% csrf_token %}<input type="hidden" value="{{ id }}" name="id"><input type="hidden" value="{{ data.id }}" name="pid">
  <div class="col-12"><label class="form-label">Scope of work</label><select name="work" class="form-select" required><option value="">Select unscheduled work</option>{% for item in data1 %}<option value="{{ item.id }}">{{ item.workname }}</option>{% endfor %}</select></div>
  <div class="col-md-6"><label class="form-label">Start date</label><input type="date" name="start" class="form-control" required></div>
  <div class="col-md-6"><label class="form-label">End date</label><input type="date" name="end" class="form-control" required></div>
  <div class="col-12"><button class="btn btn-primary" type="submit">Add Dates</button></div>
</form></div></div>
{% endblock %}
