<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form id="form1" name="form1" method="post" >

    {% csrf_token %}
  <table>
      <a href="/" class="nav-link">Home</a><br>
{#<a href="/WMS/Add_material_required/" class="nav-link">Add_material_required</a><br>#}
<a href="/WMS/Add_material/" class="nav-link">Add material</a><br>
{#<a href="/WMS/Add_project_inspection_details/" class="nav-link">Add project inspection details</a><br>#}
{#<a href="/WMS/Add_Subcontractor_schedule/" class="nav-link">Add_Subcontractor_schedule</a><br>#}
{#<a href="/WMS/Add_Subcontractor_to_project/" class="nav-link">Add_Subcontractor_to_project</a><br>#}
<a href="/WMS/Add_Subcontractor/" class="nav-link">Add_Subcontractor</a><br>
{#<a href="/WMS/Add_Supplier_materials/" class="nav-link">Add_Supplier_materials</a><br>#}
<a href="/WMS/Add_suppliers/" class="nav-link">Add_suppliers</a><br>
{#<a href="/WMS/Add_work_schedule/" class="nav-link">Add_work_schedule</a><br>#}
{#<a href="/WMS/Add_works/" class="nav-link">Add_works</a><br>#}
<a href="/WMS/Change_password/" class="nav-link">Change_password</a><br>
{#<a href="/WMS/Draft_budget/" class="nav-link">Draft_budget</a><br>#}
{#<a href="/WMS/Edit_budget/" class="nav-link">Edit_budget</a><br>#}
{#<a href="/WMS/Edit_issued_materials_to_site/" class="nav-link">Edit_issued_materials_to_site</a><br>#}
{#<a href="/WMS/Edit_material_required/" class="nav-link">Edit_material_required</a><br>#}
{#<a href="/WMS/Edit_Subcontractor_schedule/" class="nav-link">Edit_Subcontractor_schedule</a><br>#}
{#<a href="/WMS/Edit_Subcontractor/" class="nav-link">Edit_Subcontractor</a><br>#}
{#<a href="/WMS/Edit_Supplier_materials/" class="nav-link">Edit_Supplier_materials</a><br>#}
{#<a href="/WMS/Edit_suppliers/" class="nav-link">Edit_suppliers</a><br>#}
{#<a href="/WMS/Edit_Uploaded_documents/" class="nav-link">Edit_Uploaded_documents</a><br>#}
{#<a href="/WMS/Edit_Uploaded_drawings/" class="nav-link">Edit_Uploaded_drawings</a><br>#}
{#<a href="/WMS/Edit_work_schedule/" class="nav-link">Edit_work_schedule</a><br>#}
{#<a href="/WMS/Edit_works/" class="nav-link"> Edit_works</a><br>#}
{#<a href="/WMS/Issue_materials_to_site/" class="nav-link">Issue_materials_to_site</a><br>#}
{#<a href="/WMS/Upload_documents/" class="nav-link"> Upload_documents</a><br>#}
{#<a href="/WMS/Upload_drawings/" class="nav-link"> Upload_drawings</a><br>#}
<a href="/WMS/View_assigned_projects/" class="nav-link"> View_assigned_projects</a><br>
{#<a href="/WMS/View_budget/" class="nav-link"> View_budget</a><br>#}
{#<a href="/WMS/View_issued_materials_to_site/" class="nav-link"> View_issued_materials_to_site</a><br>#}
{#<a href="/WMS/View_materials_request/" class="nav-link"> View_materials_request</a><br>#}
{#<a href="/WMS/View_materials_required/" class="nav-link"> View_materials_required</a><br>#}
<a href="/WMS/View_material/" class="nav-link"> View_material</a><br>
<a href="/WMS/View_Ongoing_projects_pm/" class="nav-link"> View_Ongoing_projects_pm</a><br>
<a href="/WMS/View_profile/" class="nav-link"> View_profile</a><br>
{#<a href="/WMS/View_project_payment_entry/" class="nav-link"> View_project_payment_entry</a><br>#}
{#<a href="/WMS/View_project_status/" class="nav-link"> View_project_status</a><br>#}
{#<a href="/WMS/View_subcontractor_schedule/" class="nav-link"> View_subcontractor_schedule</a><br>#}
<a href="/WMS/View_subcontractor/" class="nav-link"> View_subcontractor</a><br>
{#<a href="/WMS/View_supplier_materials/" class="nav-link"> View_supplier_materials</a><br>#}
<a href="/WMS/View_supplier/" class="nav-link"> View_supplier</a><br>
{#<a href="/WMS/View_uploaded_document/" class="nav-link"> View_uploaded_document</a><br>#}
{#<a href="/WMS/View_uploaded_drawings/" class="nav-link"> View_uploaded_drawings</a><br>#}
{#<a href="/WMS/View_work_schedules/" class="nav-link"> View_work_schedules</a><br>#}
{#<a href="/WMS/View_work/" class="nav-link"> View_work</a><br>#}

  </table>
</form>

</body>
</html>