
{#<html lang="en">#}
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Worksphere</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="index/img/favicon.png" rel="icon">
  <link href="index/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/boxicons/css/boxicons.min.css' %} rel="stylesheet">
  <link href="{% static 'index/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'index/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'index/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'index/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">BLUERAY</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'index/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Project Manager</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'View_profile' %}">
                <i class="bi bi-person-rolodex"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'Change_password' %}">
                <i class="bi bi-gear"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'PMHome' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Project</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'View_assigned_projects' %}">
              <i class="bi bi-circle"></i><span>All </span>
            </a>
          </li>
          <li>
            <a href="{% url 'View_Ongoing_projects_pm' %}">
              <i class="bi bi-circle"></i><span>Ongoing</span>
            </a>
          </li>
          <li>
            <a href="{% url 'View_completed_projectspm' %}">
              <i class="bi bi-circle"></i><span>Completed</span>
            </a>
          </li>
        </ul>
      </li><!-- End Project Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Subcontractor</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'Add_Subcontractor' %}">
              <i class="bi bi-circle"></i><span>Add</span>
            </a>
          </li>
          <li>
            <a href="{% url 'View_subcontractor' %}">
              <i class="bi bi-circle"></i><span>View</span>
            </a>
          </li>

        </ul>
      </li><!-- End Subcontractor Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Materials</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'Add_material' %}">
              <i class="bi bi-circle"></i><span>Add</span>
            </a>
          </li>
          <li>
            <a href="{% url 'View_material' %}">
              <i class="bi bi-circle"></i><span>View</span>
            </a>
          </li>
        </ul>
      </li><!-- End Materials Nav -->
<a class="nav-link collapsed" data-bs-target="#charts-nav"  href="{% url 'View_notification' %}">
          <i class="ri-notification-badge-fill"></i><span>Notifications</span>&nbsp;
<i class='ri-mail-line' id="a" ></i>
        </a>
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="pmindex.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
     <div align="center" style="color: blue"><h3>{{ data.PROJECT.project_name }}</h3></div>
    <br>
    <br>
{#    <div class="container" align="center">#}
        <div class="container" style="margin-left: 75px">
            <div class="row">
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_work/{{ data.PROJECT.id }}#myid" ><b>Scope of Work</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_materials_required/{{ data.PROJECT.id }}#myid" ><b>Material List</b></a>
                </p>
             </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_Estimate/{{ data.PROJECT.id }}#myid" ><b>Estimate</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_Subcontractor_of_project/{{ data.PROJECT.id }}#myid" ><b>Subcontractor</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_work_schedules/{{ data.PROJECT.id }}#myid" ><b>Schedule</b></a>
                </p>
            </div>
        </div>
        </div>
{#    </div>#}
    <div class="row" >
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
{#                <p></p>#}
                <p align="center" >
                       <a href="/WMS/View_materials_request/{{ data.PROJECT.id }}#myid" ><b>Material Requests</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_Worksite_photospm/{{ data.PROJECT.id }}#myid"  ><b>Site Photos</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_project_payment_entry/{{ data.PROJECT.id }}#myid" ><b>Payments</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_project_inspection/{{ data.PROJECT.id }}#myid" ><b>Inspection</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_issued_materials_to_site/{{ data.PROJECT.id }}#myid" ><b>Materials Issued</b></a>
                </p>
            </div>
        </div>
    </div>
    <div class="row"  align="center">
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_uploaded_drawings/{{ data.PROJECT.id }}#myid" ><b>Drawings</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_uploaded_document/{{ data.PROJECT.id }}#myid" ><b>Documents</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_Project_allocated_to_purchaser/{{ data.PROJECT.id }}#myid" ><b>Purchaser</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2" >
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_project_status/{{ data.PROJECT.id }}#myid" ><b>Work Progress</b></a>
                </p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card" style="height: 60px">
                <p></p>
                <p align="center" >
                       <a href="/WMS/View_materials_report/{{ data.PROJECT.id }}#myid" ><b>Materials Report</b></a>
                </p>
            </div>
        </div>
    </div>
    </div>
    <div><a href="/WMS/chatpm/{{ data.id }}">Chat</a></div>
  <table width="741" border="1" class="table table-striped">
    <tr>
      <td width="500">Date</td>
        <td ><label for="textfield">{{ data.PROJECT.date }}</label></td>
    </tr>
    <tr>
        <td >Project No</td>
        <td>{{ data.PROJECT.project_no }}</td>
    </tr>
{#    <tr>#}
{#      <td width="500">Client Name</td>#}
{#      <td>{{ data.PROJECT.client_name }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td width="500">Phone</td>#}
{#        <td>{{ data.PROJECT.phone }}</td>#}
{#   </tr>#}
{#    <tr>#}
{#        <td width="500">Email</td>#}
{#        <td>{{ data.PROJECT.email}}</td>#}
{#    </tr>#}

{#    <tr>#}
{#        <td >Unit No</td>#}
{#        <td>{{ data.PROJECT.unit_no }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td width="61">Project Value</td>#}
{#        <td>{{ data.PROJECT.project_value}}</td>#}
{#    </tr>#}
    <tr>
        <td >Project Location</td>
        <td>{{ data.PROJECT.place }}</td>
    </tr>
    <tr>
        <td width="50">Starting Date</td>
        <td>{{ data.PROJECT.start_date }}</td>
    </tr>
    <tr>
        <td width="50">Handover Date</td>
        <td>{{ data.PROJECT.handout_date }}</td>
    </tr>
    <tr>
        <td width="61">Project Duration</td>
        <td>{{ data.PROJECT.project_duration }}</td>
   </tr>
   <tr>
        <td width="61">Project Area</td>
        <td>{{ data.PROJECT.project_area }}</td>
   </tr>
    <tr>
        <td width="61">Project Type</td>
        <td>{{ data.PROJECT.project_type }}</td>
  </tr>
    <tr>
        <td width="69">Description</td>
        <td>{{ data.PROJECT.description }}</td>
  </tr>
    <tr>
        <td width="55">Estimate Status</td>
        <td>{{ data.PROJECT.estimate_status }}</td>
  </tr>
  </table>
    <div id="myid">
    <br><br><br><br>
        {% block body %}

        {% endblock %}
    </div>

{#      <div class="row">#}
{##}
{#        <!-- Left side columns -->#}
{#        <div class="col-lg-8">#}
{#          <div class="row">#}
{##}
{#            <!-- Sales Card -->#}
{#            <div class="col-xxl-4 col-md-6">#}
{#              <div class="card info-card sales-card">#}
{##}
{#                <div class="filter">#}
{#                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                    <li class="dropdown-header text-start">#}
{#                      <h6>Filter</h6>#}
{#                    </li>#}
{##}
{#                    <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#                  </ul>#}
{#                </div>#}
{##}
{#                <div class="card-body">#}
{#                  <h5 class="card-title">Sales <span>| Today</span></h5>#}
{##}
{#                  <div class="d-flex align-items-center">#}
{#                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">#}
{#                      <i class="bi bi-cart"></i>#}
{#                    </div>#}
{#                    <div class="ps-3">#}
{#                      <h6>145</h6>#}
{#                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>#}
{##}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </div><!-- End Sales Card -->#}
{##}
{#            <!-- Revenue Card -->#}
{#            <div class="col-xxl-4 col-md-6">#}
{#              <div class="card info-card revenue-card">#}
{##}
{#                <div class="filter">#}
{#                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                    <li class="dropdown-header text-start">#}
{#                      <h6>Filter</h6>#}
{#                    </li>#}
{##}
{#                    <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#                  </ul>#}
{#                </div>#}
{##}
{#                <div class="card-body">#}
{#                  <h5 class="card-title">Revenue <span>| This Month</span></h5>#}
{##}
{#                  <div class="d-flex align-items-center">#}
{#                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">#}
{#                      <i class="bi bi-currency-dollar"></i>#}
{#                    </div>#}
{#                    <div class="ps-3">#}
{#                      <h6>$3,264</h6>#}
{#                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>#}
{##}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </div><!-- End Revenue Card -->#}
{##}
{#            <!-- Customers Card -->#}
{#            <div class="col-xxl-4 col-xl-12">#}
{##}
{#              <div class="card info-card customers-card">#}
{##}
{#                <div class="filter">#}
{#                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                    <li class="dropdown-header text-start">#}
{#                      <h6>Filter</h6>#}
{#                    </li>#}
{##}
{#                    <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#                  </ul>#}
{#                </div>#}
{##}
{#                <div class="card-body">#}
{#                  <h5 class="card-title">Customers <span>| This Year</span></h5>#}
{##}
{#                  <div class="d-flex align-items-center">#}
{#                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">#}
{#                      <i class="bi bi-people"></i>#}
{#                    </div>#}
{#                    <div class="ps-3">#}
{#                      <h6>1244</h6>#}
{#                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>#}
{##}
{#                    </div>#}
{#                  </div>#}
{##}
{#                </div>#}
{#              </div>#}
{##}
{#            </div><!-- End Customers Card -->#}
{##}
{#            <!-- Reports -->#}
{#            <div class="col-12">#}
{#              <div class="card">#}
{##}
{#                <div class="filter">#}
{#                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                    <li class="dropdown-header text-start">#}
{#                      <h6>Filter</h6>#}
{#                    </li>#}
{##}
{#                    <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#                  </ul>#}
{#                </div>#}
{##}
{#                <div class="card-body">#}
{#                  <h5 class="card-title">Reports <span>/Today</span></h5>#}
{##}
{#                  <!-- Line Chart -->#}
{#                  <div id="reportsChart"></div>#}
{##}
{#                  <script>#}
{#                    document.addEventListener("DOMContentLoaded", () => {#}
{#                      new ApexCharts(document.querySelector("#reportsChart"), {#}
{#                        series: [{#}
{#                          name: 'Sales',#}
{#                          data: [31, 40, 28, 51, 42, 82, 56],#}
{#                        }, {#}
{#                          name: 'Revenue',#}
{#                          data: [11, 32, 45, 32, 34, 52, 41]#}
{#                        }, {#}
{#                          name: 'Customers',#}
{#                          data: [15, 11, 32, 18, 9, 24, 11]#}
{#                        }],#}
{#                        chart: {#}
{#                          height: 350,#}
{#                          type: 'area',#}
{#                          toolbar: {#}
{#                            show: false#}
{#                          },#}
{#                        },#}
{#                        markers: {#}
{#                          size: 4#}
{#                        },#}
{#                        colors: ['#4154f1', '#2eca6a', '#ff771d'],#}
{#                        fill: {#}
{#                          type: "gradient",#}
{#                          gradient: {#}
{#                            shadeIntensity: 1,#}
{#                            opacityFrom: 0.3,#}
{#                            opacityTo: 0.4,#}
{#                            stops: [0, 90, 100]#}
{#                          }#}
{#                        },#}
{#                        dataLabels: {#}
{#                          enabled: false#}
{#                        },#}
{#                        stroke: {#}
{#                          curve: 'smooth',#}
{#                          width: 2#}
{#                        },#}
{#                        xaxis: {#}
{#                          type: 'datetime',#}
{#                          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]#}
{#                        },#}
{#                        tooltip: {#}
{#                          x: {#}
{#                            format: 'dd/MM/yy HH:mm'#}
{#                          },#}
{#                        }#}
{#                      }).render();#}
{#                    });#}
{#                  </script>#}
{#                  <!-- End Line Chart -->#}
{##}
{#                </div>#}
{##}
{#              </div>#}
{#            </div><!-- End Reports -->#}
{##}
{#            <!-- Recent Sales -->#}
{#            <div class="col-12">#}
{#              <div class="card recent-sales overflow-auto">#}
{##}
{#                <div class="filter">#}
{#                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                    <li class="dropdown-header text-start">#}
{#                      <h6>Filter</h6>#}
{#                    </li>#}
{##}
{#                    <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                    <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#                  </ul>#}
{#                </div>#}
{##}
{#                <div class="card-body">#}
{#                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>#}
{##}
{#                  <table class="table table-borderless datatable">#}
{#                    <thead>#}
{#                      <tr>#}
{#                        <th scope="col">#</th>#}
{#                        <th scope="col">Customer</th>#}
{#                        <th scope="col">Product</th>#}
{#                        <th scope="col">Price</th>#}
{#                        <th scope="col">Status</th>#}
{#                      </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                      <tr>#}
{#                        <th scope="row"><a href="#">#2457</a></th>#}
{#                        <td>Brandon Jacob</td>#}
{#                        <td><a href="#" class="text-primary">At praesentium minu</a></td>#}
{#                        <td>$64</td>#}
{#                        <td><span class="badge bg-success">Approved</span></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <th scope="row"><a href="#">#2147</a></th>#}
{#                        <td>Bridie Kessler</td>#}
{#                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>#}
{#                        <td>$47</td>#}
{#                        <td><span class="badge bg-warning">Pending</span></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <th scope="row"><a href="#">#2049</a></th>#}
{#                        <td>Ashleigh Langosh</td>#}
{#                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>#}
{#                        <td>$147</td>#}
{#                        <td><span class="badge bg-success">Approved</span></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <th scope="row"><a href="#">#2644</a></th>#}
{#                        <td>Angus Grady</td>#}
{#                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>#}
{#                        <td>$67</td>#}
{#                        <td><span class="badge bg-danger">Rejected</span></td>#}
{#                      </tr>#}
{#                      <tr>#}
{#                        <th scope="row"><a href="#">#2644</a></th>#}
{#                        <td>Raheem Lehner</td>#}
{#                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>#}
{#                        <td>$165</td>#}
{#                        <td><span class="badge bg-success">Approved</span></td>#}
{#                      </tr>#}
{#                    </tbody>#}
{#                  </table>#}
{##}
{#                </div>#}
{##}
{#              </div>#}
{#            </div><!-- End Recent Sales -->#}
{#          </div>#}
{#        </div><!-- End Left side columns -->#}
{##}
{#        <!-- Right side columns -->#}
{#        <div class="col-lg-4">#}
{#          <!-- Budget Report -->#}
{#          <div class="card">#}
{#            <div class="filter">#}
{#              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                <li class="dropdown-header text-start">#}
{#                  <h6>Filter</h6>#}
{#                </li>#}
{##}
{#                <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#              </ul>#}
{#            </div>#}
{##}
{#            <div class="card-body pb-0">#}
{#              <h5 class="card-title">Budget Report <span>| This Month</span></h5>#}
{##}
{#              <div id="budgetChart" style="min-height: 400px;" class="echart"></div>#}
{##}
{#              <script>#}
{#                document.addEventListener("DOMContentLoaded", () => {#}
{#                  var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({#}
{#                    legend: {#}
{#                      data: ['Allocated Budget', 'Actual Spending']#}
{#                    },#}
{#                    radar: {#}
{#                      // shape: 'circle',#}
{#                      indicator: [{#}
{#                          name: 'Sales',#}
{#                          max: 6500#}
{#                        },#}
{#                        {#}
{#                          name: 'Administration',#}
{#                          max: 16000#}
{#                        },#}
{#                        {#}
{#                          name: 'Information Technology',#}
{#                          max: 30000#}
{#                        },#}
{#                        {#}
{#                          name: 'Customer Support',#}
{#                          max: 38000#}
{#                        },#}
{#                        {#}
{#                          name: 'Development',#}
{#                          max: 52000#}
{#                        },#}
{#                        {#}
{#                          name: 'Marketing',#}
{#                          max: 25000#}
{#                        }#}
{#                      ]#}
{#                    },#}
{#                    series: [{#}
{#                      name: 'Budget vs spending',#}
{#                      type: 'radar',#}
{#                      data: [{#}
{#                          value: [4200, 3000, 20000, 35000, 50000, 18000],#}
{#                          name: 'Allocated Budget'#}
{#                        },#}
{#                        {#}
{#                          value: [5000, 14000, 28000, 26000, 42000, 21000],#}
{#                          name: 'Actual Spending'#}
{#                        }#}
{#                      ]#}
{#                    }]#}
{#                  });#}
{#                });#}
{#              </script>#}
{##}
{#            </div>#}
{#          </div><!-- End Budget Report -->#}
{##}
{#          <!-- Website Traffic -->#}
{#          <div class="card">#}
{#            <div class="filter">#}
{#              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>#}
{#              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">#}
{#                <li class="dropdown-header text-start">#}
{#                  <h6>Filter</h6>#}
{#                </li>#}
{##}
{#                <li><a class="dropdown-item" href="#">Today</a></li>#}
{#                <li><a class="dropdown-item" href="#">This Month</a></li>#}
{#                <li><a class="dropdown-item" href="#">This Year</a></li>#}
{#              </ul>#}
{#            </div>#}
{##}
{#            <div class="card-body pb-0">#}
{#              <h5 class="card-title">Website Traffic <span>| Today</span></h5>#}
{##}
{#              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>#}
{##}
{#              <script>#}
{#                document.addEventListener("DOMContentLoaded", () => {#}
{#                  echarts.init(document.querySelector("#trafficChart")).setOption({#}
{#                    tooltip: {#}
{#                      trigger: 'item'#}
{#                    },#}
{#                    legend: {#}
{#                      top: '5%',#}
{#                      left: 'center'#}
{#                    },#}
{#                    series: [{#}
{#                      name: 'Access From',#}
{#                      type: 'pie',#}
{#                      radius: ['40%', '70%'],#}
{#                      avoidLabelOverlap: false,#}
{#                      label: {#}
{#                        show: false,#}
{#                        position: 'center'#}
{#                      },#}
{#                      emphasis: {#}
{#                        label: {#}
{#                          show: true,#}
{#                          fontSize: '18',#}
{#                          fontWeight: 'bold'#}
{#                        }#}
{#                      },#}
{#                      labelLine: {#}
{#                        show: false#}
{#                      },#}
{#                      data: [{#}
{#                          value: 1048,#}
{#                          name: 'Search Engine'#}
{#                        },#}
{#                        {#}
{#                          value: 735,#}
{#                          name: 'Direct'#}
{#                        },#}
{#                        {#}
{#                          value: 580,#}
{#                          name: 'Email'#}
{#                        },#}
{#                        {#}
{#                          value: 484,#}
{#                          name: 'Union Ads'#}
{#                        },#}
{#                        {#}
{#                          value: 300,#}
{#                          name: 'Video Ads'#}
{#                        }#}
{#                      ]#}
{#                    }]#}
{#                  });#}
{#                });#}
{#              </script>#}
{##}
{#            </div>#}
{#          </div><!-- End Website Traffic -->#}
{#        </div><!-- End Right side columns -->#}
{##}
{#      </div>#}
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->
{#  <footer id="footer" class="footer">#}
{#    <div class="copyright">#}
{#      &copy; Blue  <strong><span>Ray</span></strong>. All Rights Reserved#}
{#    </div>#}
{#    <div class="credits">#}
{#      <!-- All the links in the footer should remain intact. -->#}
{#      <!-- You can delete the links only if you purchased the pro version. -->#}
{#      <!-- Licensing information: https://bootstrapmade.com/license/ -->#}
{#      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->#}
{#      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
{#    </div>#}
{#  </footer><!-- End Footer -->#}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'index/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'index/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'index/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'index/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'index/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'index/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'index/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'index/js/main.js' %}"></script>

<script src="{% static 'jquery.min.js' %}"></script>
<script  type="text/javascript" >
    function test() {
 $.ajax({
          url: "/WMS/View_notification_ajax",
          type: "GET",
          data:
          {

          },
          dataType: "json",
          success: function (dat) {
              var data=parseInt(dat["nt"]);
            $("#a").hide();
              if(data>0)
              {
                  $("#a").show();
              }
              else
              {
                    $("#a").hide();
              }
          },
          error: function (ts)
          {
          },
          complete: function (ts) {
          }
      });
    }
 $(document).ready(function () {
     repeatEverySecond();
      $.ajax({
          url: "/WMS/View_notification_ajax",
          type: "GET",
          data: {

          },
          dataType: "json",
          success: function (dat) {

             var data=parseInt(dat["nt"]);

              if(data>0)
              {
                  $("#a").show();

              }
              else
              {
                    $("#a").hide();
              }
          },
          error: function (ts) {
          },
          complete: function (ts) {
          }
      });
  });
function repeatEverySecond() {
  intervalID = setInterval(test, 1000);
}
</script>



</body>

</html>