{% extends "Project Manager/pmindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/WMS/Projec_allocation_to_purchaser_post/">
    {% csrf_token %}
<div style="color: blue"><h3>Purchaser Allocation</h3></div>
  <table width="200" border="1" class="table table-striped">
  <input type="hidden" value="{{ data1.id  }}" name="pid">
    <tr >
      <td>Purchaser</td>
      <td ><select name="purchaser" id="select2" class="form-control">
          {% for i in data %}
            <option value="{{ i.id }}">{{ i.name }}</option>
           {% endfor %}
      </select></td>
    </tr>
    <tr align="center">
      <td height="31" colspan="2"><input type="submit" name="button" id="button" value="Add" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
{% endblock %}

