{% extends "Project Manager/pmindex2.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/WMS/search_insp/#myid">
 {% csrf_token %}
<div style="color: blue" align="center"><h3>Project Inspection</h3></div>
<input type="hidden" name="pid" value="{{ id }}">
<div class="dataTable-top">
    <div class="dataTable-dropdown">
        <a href="/WMS/Add_project_inspection_details/{{ id }}#myid" class="btn btn-outline-primary btn-sm">Add</a>
    </div>
    <div class="dataTable-search">
        <input type="date" name="from" id="textfield" placeholder="From Date..." class="form-control-sm"/>
        <input type="date" name="to" id="textfield" placeholder="To Date..." class="form-control-sm"/>
     <input type="submit" name="Go" id="Go" value="Go" class="btn btn-outline-info btn-sm"/>
    </div>
</div>
  <table width="200" border="1" class="table table-striped">
<thead>
    <tr>
    </tr>
    <tr style="background-color: #00a0dc;color: white">
      <td width="43">Sl.No</td>
      <td width="44">Date</td>
      <td width="34">Type</td>
      <td width="34">Report</td>
      <td width="37">&nbsp;</td>
      <td width="57">&nbsp;</td>
    </tr>
</thead>
<tbody>
      {% for i in data1 %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.type }}</td>
      <td><a href="{{ i.report }}">View</a> </td>
      <td><a href="/WMS/Edit_project_inspection_details/{{ i.id }}/{{ i.PROJECT.id }}" class="btn btn-outline-primary btn-sm">Edit</a></td>
      <td><a href="/WMS/Delete_inspection/{{ i.id }}/{{ i.PROJECT.id }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
      {% endfor %}
</tbody>
  </table>
</form>
{% endblock %}
