{% extends "Project Manager/pmindex2.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/WMS/search_udcms/#myid">
  {% csrf_token %}
<div style="color: blue" align="center"><h3>Documents</h3></div>
<input type="hidden" name="pid" value="{{ id }}">
<div class="dataTable-top">
<div class="dataTable-dropdown">
        <a href="/WMS/Upload_documents/{{ id }}" class="btn btn-outline-primary btn-sm">Add</a>
    </div>
    <div class="dataTable-search">
        From&nbsp;<input type="date" name="from" id="textfield"  class="form-control-sm"/>&nbsp;
        To&nbsp;<input type="date" name="to" id="textfield"  class="form-control-sm"/>
     <input type="submit" name="Go" id="Go" value="Go" class="btn btn-outline-info btn-sm"/>
    </div>
</div>
    <table width="182" border="1" class="table table-striped">
   <thead>
    <tr style="background-color: #00a0dc;color: white">
      <td width="36">Sl.No</td>
      <td width="62">Date</td>
      <td width="62">Name</td>
      <td width="62">Document</td>
      <td width="62">&nbsp;</td>
      <td width="62">&nbsp;</td>
    </tr>
   </thead>
   <tbody>
        {% for i in data1 %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.name }}</td>
      <td><a href="{{ i.file }}">Download</a> </td>
      <td><a href="/WMS/Edit_Uploaded_documents/{{ i.id }}/{{ i.PROJECT.id }}" class="btn btn-outline-primary btn-sm">Edit</a></td>
      <td><a href="/WMS/Delete_document/{{ i.id }}/{{ i.PROJECT.id }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
        {% endfor %}
   </tbody>
  </table>
</form>
{% endblock %}
