{% extends "Supervisor/spindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/WMS/Add_daily_workers_count_post/">
    {% csrf_token %}
    <div style="color: blue"><h3>Add Workers Report</h3></div>
  <table width="200" border="1" class="table table-striped">
      <input type="hidden" value="{{ data.id }}" name="pid">
      <input type="hidden" value="{{ id }}" name="id">
    <tr>
      <td>Work Type</td>
      <td><input type="text" name="worktype" id="textfield2" class="form-control"/></td>
    </tr>
    <tr>
      <td>Worker Count</td>
      <td><input type="text" name="workercount" id="textfield" class="form-control" pattern="[1-9][0-9/.]{0,}"/></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input type="submit" name="button3" id="button3" value="Add" class="btn btn-outline-primary"/></td>
    </tr>
  </table>
</form>
{% endblock %}
