<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form id="form1" name="form1" method="post" >
{% csrf_token %}
  <table>
      <a href="/" class="nav-link">Home</a><br>
{#<a href="/WMS/Add_daily_material_usage/" class="nav-link">Add_daily_material_usage</a><br>#}
{#<a href="/WMS/Add_daily_workers_count/" class="nav-link">Add Add_daily_workers_count</a><br>#}
<a href="/WMS/Change_password_sp/" class="nav-link">Change_password_sp</a><br>
{#<a href="/WMS/Edit_daily_material_usage/" class="nav-link">Edit_daily_material_usage</a><br>#}
{#<a href="/WMS/Edit_daily_workers_count/" class="nav-link">Edit_daily_workers_count</a><br>#}
{#<a href="/WMS/Edit_Uploaded_site_photos/" class="nav-link">Edit_Uploaded_site_photos</a><br>#}
{#<a href="/WMS/Send_material_request/" class="nav-link">Send_material_request</a><br>#}
{#<a href="/WMS/Update_work_progress/" class="nav-link">Update_work_progress</a><br>#}
{#<a href="/WMS/Upload_site_photos/" class="nav-link">Upload_site_photos</a><br>#}
<a href="/WMS/View_assigned_projects_sp/" class="nav-link">View_assigned_projects_sp</a><br>
{#<a href="/WMS/View_daily_workers_count/" class="nav-link">View_daily_workers_count</a><br>#}
{#<a href="/WMS/View_daily_materials_usage/" class="nav-link">View_daily_materials_usage</a><br>#}
{#<a href="/WMS/View_estimate_sp/" class="nav-link">View_estimate_sp</a><br>#}
{#<a href="/WMS/View_inspection_details/" class="nav-link">View_inspection_details</a><br>#}
{#<a href="/WMS/View_material_request_report/" class="nav-link">View_material_request_report</a><br>#}
{#<a href="/WMS/View_material_usage_report/" class="nav-link">View_material_usage_report</a><br>#}
{#<a href="/WMS/View_material_issued_and_update_status/" class="nav-link">View_material_issued_and_update_status</a><br>#}
{#<a href="/WMS/View_material_required/" class="nav-link">View_material_required</a><br>#}
<a href="/WMS/View_Ongoing_project_sp/" class="nav-link">View_Ongoing_project_sp</a><br>
<a href="/WMS/View_profile_sp/" class="nav-link">View_profile_sp</a><br>
{#<a href="/WMS/View_schedule/" class="nav-link">View_schedule</a><br>#}
{#<a href="/WMS/View_subcontractor_schedule_sp/" class="nav-link">View_subcontractor_schedule_sp</a><br>#}
{#<a href="/WMS/View_Subcontractor/" class="nav-link"> View_Subcontractor</a><br>#}
{#<a href="/WMS/View_Uploaded_site_photos/" class="nav-link">View_Uploaded_site_photos</a><br>#}
{#<a href="/WMS/View_Uploads/" class="nav-link"> View_Uploads</a><br>#}
{#<a href="/WMS/View_work_status_report/" class="nav-link"> View_work_status_report</a><br>#}
{#<a href="/WMS/View_work_sp/" class="nav-link"> View_work_sp</a><br>#}
{#<a href="/WMS/View_worker_count_report/" class="nav-link"> View_worker_count_report</a><br>#}

  </table>
</form>

</body>
</html>