{% extends "Supervisor/spindex2.html" %}
{% block body %}
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/WMS/search_estm/#myid">
  {% csrf_token %}
<div align="center" style="color: blue" ><h3>Estimate</h3></div>
<input type="hidden" name="pid" value="{{ id }}">
<div class="dataTable-top">
    <div class="dataTable-search">
        From&nbsp;<input type="date" name="from" id="textfield"  class="form-control-sm"/>&nbsp;
        To&nbsp;<input type="date" name="to" id="textfield"  class="form-control-sm"/>
     <input type="submit" name="Go" id="Go" value="Go" class="btn btn-outline-info btn-sm"/>
    </div>
</div>
    <table width="200" border="1" class="table table-striped">
  <thead>
    <tr style="background-color: #00a0dc;color: white">
      <td>Sl.No</td>
      <td>Date</td>
      <td>Estimate.No</td>
           <td>Amount</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
        {% for i in data1 %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.est_no }}</td>
          <td>{{ i.my }}</td>
      <td><a href="/WMS/View_budget_sp/{{ i.id }}" class="btn btn-outline-primary btn-sm">View More </a></td>
    </tr>
        {% endfor %}
   </tbody>
  </table>
</form>
{% endblock %}
