{% extends 'Workflow/base.html' %}
{% block body %}
<div class="pagetitle"><h1>Add Project Enquiry</h1></div>
<div class="card"><div class="card-body"><h5 class="card-title">Client and enquiry details</h5>
<form method="post" enctype="multipart/form-data" class="row g-3">{% csrf_token %}
  <div class="col-md-6"><label class="form-label">Enquiry title</label><input class="form-control" name="title" maxlength="150" required></div>
  <div class="col-md-6"><label class="form-label">Client name</label><input class="form-control" name="client_name" maxlength="100" required></div>
  <div class="col-md-6"><label class="form-label">Client email</label><input class="form-control" type="email" name="client_email"></div>
  <div class="col-md-6"><label class="form-label">Client phone</label><input class="form-control" name="client_phone" maxlength="40"></div>
  <div class="col-12"><label class="form-label">Scope / remarks</label><textarea class="form-control" name="description" rows="4"></textarea></div>
  <div class="col-12"><label class="form-label">Files</label><input class="form-control" type="file" name="files" multiple accept=".xlsx,.xls,.jpg,.jpeg,.png,.pdf,.dwg,.dxf,.doc,.docx"><div class="form-text">Excel, photos, PDF, CAD and Word files; maximum 20 MB each.</div></div>
  <div class="col-12"><button class="btn btn-primary" type="submit">Save Enquiry</button> <a class="btn btn-outline-secondary" href="{% url 'workflow_dashboard' %}">Cancel</a></div>
</form></div></div>
{% endblock %}
