<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form id="form1" name="form1" method="post" >
    {% csrf_token %}

  <table>
      <a href="/" class="nav-link">Home</a><br>
<a href="/WMS/Add_account_sub/" class="nav-link">Add_account_sub</a><br>
<a href="/WMS/Add_accounthead/" class="nav-link">Add_accounthead</a><br>
<a href="/WMS/Change_password_ac/" class="nav-link">Change_password_ac</a><br>
{#<a href="/WMS/Edit_accounthead/" class="nav-link">Edit_accounthead</a><br>#}
{#<a href="/WMS/Edit_account_sub/" class="nav-link">Edit_account_sub</a><br>#}
{#<a href="/WMS/Edit_Transaction_entry/" class="nav-link">Edit_Transaction_entry</a><br>#}
{#<a href="/WMS/Edit_Project_payment_entry/" class="nav-link">Edit_Project_payment_entry</a><br>#}
{#<a href="/WMS/Project_payment_entry/" class="nav-link">Project_payment_entry</a><br>#}
<a href="/WMS/Transaction_entry/" class="nav-link">Transaction_entry</a><br>
<a href="/WMS/View_account_head/" class="nav-link">View_account_head</a><br>
<a href="/WMS/View_accountsub/" class="nav-link">View_accountsub</a><br>
<a href="/WMS/View_profile_ac/" class="nav-link">View_profile_ac</a><br>
{#<a href="/WMS/View_project_payment_entry_ac/" class="nav-link">View_project_payment_entry_ac</a><br>#}
{#<a href="/WMS/View_Project_status/" class="nav-link">View_Project_status</a><br>#}
<a href="/WMS/View_projects/" class="nav-link">View_projects</a><br>
<a href="/WMS/View_transaction_details/" class="nav-link">View_transaction_details</a><br>
<a href="/WMS/View_transaction_entry/" class="nav-link">View_transactions</a><br>

  </table>
</form>

</body>
</html>