<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form id="form1" name="form1" method="post" >
    {% csrf_token %}

  <table>
      <a href="/" class="nav-link">Home</a><br>
<a href="/WMS/Add_project/" class="nav-link">Add Project</a><br>
<a href="/WMS/Add_staff/" class="nav-link">Add Staff</a><br>
{#<a href="/WMS/Edit_Projec_allocation_to_pm/" class="nav-link">Edit Projec allocation to pm</a><br>#}
{#<a href="/WMS/Edit_Projec_allocation_to_supervisor/" class="nav-link">Edit Projec allocation to supervisor</a><br>#}
{#<a href="/WMS/Edit_project/" class="nav-link">Edit Project</a><br>#}
{#<a href="/WMS/Edit_staff/" class="nav-link">Edit Staff</a><br>#}
{#<a href="/WMS/Projec_allocation_to_project_manager/" class="nav-link">Projec allocation to project manager</a><br>#}
{#<a href="/WMS/Projec_allocation_to_supervisor/" class="nav-link">Projec allocation to supervisor</a><br>#}
<a href="/WMS/View_account_reports/" class="nav-link">View account reports</a><br>
<a href="/WMS/View_all_subcontractors/" class="nav-link">View all subcontractors</a><br>
{#<a href="/WMS/View_estimate/" class="nav-link">View estimate</a><br>#}
{#<a href="/WMS/View_Material_required/" class="nav-link">View Material required</a><br>#}
<a href="/WMS/View_Ongoing_projects/" class="nav-link">View Ongoing projects</a><br>
{#<a href="/WMS/View_Payment_Entry/" class="nav-link">View Payment Entry</a><br>#}
{#<a href="/WMS/View_Project_allocated_to_project_manager/" class="nav-link">View Project allocated to project manager</a><br>#}
{#<a href="/WMS/View_Project_allocated_to_supervisor/" class="nav-link">View Project allocated to supervisor</a><br>#}
<a href="/WMS/View_Project/" class="nav-link">View Projects</a><br>
{#<a href="/WMS/View_Schedule/" class="nav-link">View Schedule</a><br>#}
<a href="/WMS/View_Staff/" class="nav-link">View Staff</a><br>
{#<a href="/WMS/View_Subcontractor_datails_of_project/" class="nav-link">View Subcontractor details of project</a><br>#}
{#<a href="/WMS/View_Total_material_request/" class="nav-link">View Total material request</a><br>#}
{#<a href="/WMS/View_Total_worker_report/" class="nav-link">View Total worker report Staff</a><br>#}
{#      <a href="/WMS/View_Work_management/" class="nav-link">View Work management</a><br>#}
{#      <a href="/WMS/View_Work_progress/" class="nav-link"> View Work progress</a><br>#}
{#      <a href="/WMS/View_Worksite_photos/" class="nav-link">View Worksite photos</a><br>#}
  </table>
</form>

</body>
</html>